/* Контейнер элемента */
#scopes_collapse {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Кнопка взаимодействия с элементом */
#scopes_collapse h3 a {
    color: #999;
    display: block;
    font-size: 18px;
    line-height: 21px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

#scopes_collapse h3 a:hover {
    color: #369;
}

/* Содержимое элемента */
#scopes_collapse div {
    font-size: 16px;
    line-height: 21px;
    padding: 5px;
}

/* Элемент списка содержимого */
.scopes_list_row {
    align-items: center;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}

.scopes_list_row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

/* Текст в элементе списка */
.scope_name {
    font-size: 16px;
    vertical-align: center;
}