/* Общие стили переключателей
 ===============================*/
/* Контейнер элемента */
.switch {
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-sizing:content-box;
    cursor: pointer;
    display: block;
    height: 22px;
    margin: 0 10px 10px 0;
    padding: 3px;
    position: relative;
    vertical-align: top;
    width: 100px;
}

/* Чекбокс */
.switch-input {
    box-sizing:content-box;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

/* Текст в элементе */
.switch-label {
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
    display: block;
    font-size: 10px;
    height: inherit;
    position: relative;
    text-transform: uppercase;
}

.switch-label:before, .switch-label:after {
    box-sizing:content-box;
    line-height: 1;
    margin-top: -.5em;
    position: absolute;
    top: 50%;
    transition: inherit;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
}

.switch-label:before {
    color: #aaaaaa;
    content: attr(data-off);
    right: 11px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
    color: #FFFFFF;
    content: attr(data-on);
    left: 11px;
    opacity: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

/* Включенный чекбокс */
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

/* Маркер элемента */
.switch-handle {
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    height: 20px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 20px;
}

.switch-handle:before {
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    content: "";
    height: 12px;
    left: 50%;
    margin: -6px 0 0 -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}

/* Маркер элемента при включенном чекбоксе */
.switch-input:checked ~ .switch-handle {
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    left: 34px;
}

/* Пеоеходы */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

/* Стили поворотных переключателей
=========================================================*/
/* Контейнер элемента */
switch-yes-no {
    background: #FFF;
    background-image: none;
    border-radius: 0;
    margin: 15px 0 0;
    padding: 0;
}

/* Текст в элементе */
.switch-yes-no .switch-label {
    background: none;
    box-shadow: none;
}

.switch-yes-no .switch-label:after, .switch-yes-no .switch-label:before {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
    height: 70%;
    left: 0;
    padding-top: 10%;
    text-align: center;
    top: 5px;
    width: 100%;
}

.switch-yes-no .switch-label:after {
    backface-visibility: hidden;
    background: #c71585;
    color: #FFFFFF;
    transform: rotateY(180deg);
}

.switch-yes-no .switch-label:before {
    backface-visibility: hidden;
    background: #7b68ee;
    color: #FFFFFF;
}

/* Маркер элемента */
.switch-yes-no .switch-handle {
    display: none;
}

/* Текст при включенном чекбоксе */
.switch-yes-no .switch-input:checked ~ .switch-label {
    background: #FFF;
    border-color: #0088cc;
}

.switch-yes-no .switch-input:checked ~ .switch-label:before {
    transform: rotateY(180deg)
}

.switch-yes-no .switch-input:checked ~ .switch-label:after {
    transform: rotateY(0)
}