/* Контейнер элемента */
#tabs {
    border: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Шапка вкладок */
#tabs .tabs {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* Названия вкладок */
#tabs .tabs li {
    float: left;
    text-align: center;
    width: 33%;
}

#tabs .tabs li + li {
    border-left: 1px solid #ccc;
}

/* Кнопки для переключения между вкладками */
#tabs .tabs li a {
    color: #999;
    display: block;
    font-size: 18px;
    line-height: 21px;
    padding: 8px 16px;
    text-decoration: none;
}

#tabs .tabs li a.active, #tabs .tabs li a:hover {
    color: #369;
}

/* Содержимое вкладок */
#tabs .tabs-content {
    font-size: 16px;
    line-height: 21px;
    padding: 20px;
}

/* Элемент списка сопоставления полей */
#tabs .comparisons_list_row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 10px;
}

#tabs .comparisons_list_row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

/* Выпадающий список выбора поля */
#tabs .comparisons_list_row select {
    width: 45%;
}

/* Кнопка удаления сопоставления */
#tabs .delete_comparison {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: block;
    margin: 0 3px;
    padding: 4px 2px;
    text-decoration: none;
}

#tabs .delete_comparison span {
    color: #FFFFFF;
    font-size: 16px;
}

/* Кнопка добавления элемента списка сопоставления полей */
#tabs .add_comparison {
    background-color: #7b68ee;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 4px 8px;
    text-decoration: none;
}

/* Кнопка добавления поля в amoCRM */
#tabs .add_field_to_amo {
    background-color: #7b68ee;
    border-radius: 5px;
    display: block;
    margin: 0 4px;
    padding: 6px 6px;
    text-decoration: none;
}

#tabs .add_field_to_amo span {
    color: #FFFFFF;
    font-size: 16px;
}