/* Контейнер элемента */
#users_collapse {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 0;

}

/* Кнопка взаимодействия с элементом */
#users_collapse h3 a {
    color: #999;
    display: block;
    font-size: 18px;
    line-height: 21px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

#users_collapse h3 a:hover {
    color: #369;
}

/* Содержимое элемента */
#users_collapse div {
    font-size: 16px;
    line-height: 21px;
    padding: 5px;
}

/* Элемент списка содержимого */
.users_list_row {
    align-items: center;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}

.users_list_row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

/* Текст в элементе списка */
.user_name {
    font-size: 16px;
    vertical-align: center;
}